@import "~bootstrap/scss/bootstrap";

@import url(https://fonts.googleapis.com/css?family=Oxygen:400,500);

html,
body {
  height: 100%;
  padding-top: 20px;
  background: pink;
}

#wrapper {
  display: grid;
  justify-content: center;
  align-content: center;
    
}

#quote-box {
  border-radius:3px;
  position: relative;
  height: 400px;
  width:450px;
  padding-top:20px;
  padding-left: 10px;
  background-color:white;
  grid-column: 3;
  grid-row: 2/4;
  display: grid;
  grid-template-columns:
    1fr 1fr 1fr;
  grid-template-rows:
    1fr 1fr 1fr 1fr; 
}

Button {
  grid-column: 3;
  grid-row: 4;
 a:hover {
  text-decoration: none}
 }
 
#text {
  grid-column: 1/4;
  grid-row: 2;
  font-size: 22px;
}

#author {
  padding-top: 15px;
  grid-column: 1/4;
  grid-row: 3;
  font-size: 18px;
}

a, a > span {
  position: relative;
  color: inherit;
  text-decoration: none;
  line-height: 24px;
}
a:before, a:after, a > span:before, a > span:after {
  content: '';
  position: absolute;
  transition: transform .5s ease;
}

.effect-5 {
  display: inline-block;
  overflow: hidden;
}
.effect-5:before, .effect-5:after {
  right: 0;
  bottom: 0;
  background: #0883a4;
}
.effect-5:before {
  width: 100%;
  height: 2px;
  transform: translateX(-100%);
}
.effect-5:after {
  width: 2px;
  height: 100%;
  transform: translateY(100%);
}
.effect-5 > span {
  display: block;
  padding: 10px;
}
.effect-5 > span:before, .effect-5 > span:after {
  left: 0;
  top: 0;
  background: #0883a4;
}
.effect-5 > span:before {
  width: 100%;
  height: 2px;
  transform: translateX(100%);
}
.effect-5 > span:after {
  width: 2px;
  height: 100%;
  transform: translateY(-100%);
}
.effect-5:hover:before, .effect-5:hover:after, .effect-5:hover > span:before, .effect-5:hover > span:after {
  transform: translate(0, 0);
}